DB_URL=jdbc:postgresql://localhost:5432/tienda_sv
DB_USER=postgres
DB_PASSWORD=secret
JWT_SECRET=super_secret_jwt_key_for_authentication_replace_in_prod
PAGADITO_UID=tu_uid_de_pagadito
PAGADITO_WSK=tu_wsk_de_pagadito
WOMPI_PUBLIC_KEY=pub_prod_...
WOMPI_PRIVATE_KEY=prv_prod_...
